[submodule "themes/hugo-theme-sam"]
	path = themes/hugo-theme-sam
	url = https://github.com/vickylai/hugo-theme-sam.git
[submodule "themes/hello-friend-ng"]
	path = themes/hello-friend-ng
	url = https://github.com/rhazdon/hugo-theme-hello-friend-ng.git
